/* $Id: $ */

.csa-collection-date {
  width: 160px;
  text-align: center;
}

.csa-collection-numofvideos {
  width: 90px;
  text-align: center;	
}

.csa-collection-metadata-name {
  font-weight: bold;
  width: 200px;
}

.csa-collection-metadata-value {
}

.csa-collection-size {
	width: 80px;
	text-align: right;
}
